---
title: Welcome to Nu Colorz
---
.full-height.full-width
	.hero-background
	.white-overlay
	.logo-container
		%img{src: 'images/nu-colorz-square.jpg', class: "nu-colorz-logo"}

.full-width.artist-row.text-center
	%h1= "Membres"
	.container
		.col-xs-12.col-sm-6.col-lg-3.tiles
			.col-xs-12.picture-tile.tiles.row-space-2
				.paul-pic.artist-pic
			.col-xs-12.text-center.artist-bio
				%h1= "Paul Soundset"
				%h2= "Chill/Deep-House/Tech-House"
		.col-xs-12.col-sm-6.col-lg-3.tiles
			.col-xs-12.picture-tile.tiles.row-space-2
				.paul-pic.artist-pic
			.col-xs-12.text-center.artist-bio
				%h1= "Paul Soundset"
				%h2= "Chill/Deep-House/Tech-House"
		.col-xs-12.col-sm-6.col-lg-3.tiles
			.col-xs-12.picture-tile.tiles.row-space-2
				.paul-pic.artist-pic
			.col-xs-12.text-center.artist-bio
				%h1= "Paul Soundset"
				%h2= "Chill/Deep-House/Tech-House"
		.col-xs-12.col-sm-6.col-lg-3.tiles
			.col-xs-12.picture-tile.tiles.row-space-2
				.paul-pic.artist-pic
			.col-xs-12.text-center.artist-bio
				%h1= "Paul Soundset"
				%h2= "Chill/Deep-House/Tech-House"							
